@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.S {
  padding: 20px 15px;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  text-align: left;
  min-height: 20vh;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}

.S-header {
  position: relative;
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
}

.S-title {
  font-size: 2rem;
  font-weight: 900;
  color: #000;
  position: relative;
  z-index: 2;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 1.2;
  word-wrap: break-word;
}

.S-title-shadow {
  font-size: 2.5rem;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.092);
  position: absolute;
  top: -15px;
  left: -10px;
  z-index: 1;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  pointer-events: none;
  white-space: nowrap;
}

.S-content {
  max-width: 1400px;
  margin: 0 auto 20px;
}

.SL {
  border-left: 5px solid #325480;
  padding-left: 12px;
}

.S-description {
  font-size: 1.1rem;
  line-height: 1.4;
  color: #333;
  text-align: left;
  margin: 0;
}

.S-image-container {
  max-width: 1400px;
  margin: 20px auto 0;
  position: relative;
  z-index: -1;
  top: 0;
}

.S-image {
  width: 100%;
  height: auto;
}


@media (min-width: 768px) {
  .S {
    padding: 30px 20px;
  }
  
  .S-title {
    font-size: 2.8rem;
  }
  
  .S-title-shadow {
    font-size: 4rem;
    top: -30px;
    left: -25px;
  }
  
  .S-description {
    font-size: 1.4rem;
  }
  
  .S-image-container {
    top: -100px;
  }
}

@media (min-width: 1024px) {
  .S {
    padding: 40px 15px;
  }
  
  .S-title {
    font-size: 3.5rem;
  }
  
  .S-title-shadow {
    font-size: 6rem;
    top: -45px;
    left: -40px;
  }
  
  .S-description {
    font-size: 1.8rem;
  }
  
  .S-image-container {
    top: -200px;
  }
  
  .SL {
    border-left: 8px solid #325480;
    padding-left: 15px;
  }
}


@media (max-width: 510px) {
  .S-title {
    font-size: 1.8rem;
  }
  
  .S-title-shadow {
    font-size: 2.2rem;
    top: -11px;
    left: -5px;
  }
  
  .S-description {
    font-size: 1rem;
  }
}